

@media only screen and (max-width: 1919px){
   
    .heroMiddle ul li{
        margin: 8px auto;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 233px;
        height: 35px;
        background: rgba(255, 255, 255, 0.45);
        border-radius: 20px;
    
    
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
}
@media only screen and (min-width: 1920px){
  
    .heroMiddle ul li{
        margin: 8px auto;
    }
}